Repository nestauk/beis-indicators, pull requests merged in 2020-04, with the labels that each got.

#177 APS collection changes
  ds/data/processed/aps/aps_econ_active_stem_associate_profs_data.csv
  ds/data/processed/aps/aps_econ_active_stem_associate_profs_data.nuts2.csv
  ds/data/processed/aps/aps_econ_active_stem_associate_profs_data.nuts2.yaml
  ds/data/processed/aps/aps_econ_active_stem_associate_profs_data.nuts3.csv
  ds/data/processed/aps/aps_econ_active_stem_associate_profs_data.nuts3.yaml
  ds/data/processed/aps/aps_econ_active_stem_density_data.csv
  ds/data/processed/aps/aps_econ_active_stem_density_data.nuts2.csv
  ds/data/processed/aps/aps_econ_active_stem_density_data.nuts2.yaml
  ds/data/processed/aps/aps_econ_active_stem_density_data.nuts3.csv
  ds/data/processed/aps/aps_econ_active_stem_density_data.nuts3.yaml
  ds/data/processed/aps/aps_econ_active_stem_profs_data.csv
  ds/data/processed/aps/aps_econ_active_stem_profs_data.nuts2.csv
  ds/data/processed/aps/aps_econ_active_stem_profs_data.nuts2.yaml
  ds/data/processed/aps/aps_econ_active_stem_profs_data.nuts3.csv
  ds/data/processed/aps/aps_econ_active_stem_profs_data.nuts3.yaml
  ds/data/processed/aps/aps_nvq4_education_data.csv
  ds/data/processed/aps/aps_nvq4_education_data.nuts2.csv
  ds/data/processed/aps/aps_nvq4_education_data.nuts2.yaml
  ds/data/processed/aps/aps_nvq4_education_data.nuts3.csv
  ds/data/processed/aps/aps_nvq4_education_data.nuts3.yaml
  ds/data/processed/aps/aps_pro_occupations_data.csv
  ds/data/processed/aps/aps_pro_occupations_data.nuts2.csv
  ds/data/processed/aps/aps_pro_occupations_data.nuts2.yaml
  ds/data/processed/aps/aps_pro_occupations_data.nuts3.csv
  ds/data/processed/aps/aps_pro_occupations_data.nuts3.yaml
  ds/data/processed/eurostat/eurostat_private_non_profit_rd_workforce_data.csv
  ds/notebooks/dev/09_ao_aps_data.ipynb
  ds/notebooks/dev/10_ao_eurostat.ipynb
Labels: data collection, indicators, region: NUTS2, schema

#233 Broadband speed NUTS 2 & 3
  ds/data/processed/broadband/broadband_download_speed_data.nuts2.csv
  ds/data/processed/broadband/broadband_download_speed_data.nuts2.yaml
  ds/data/processed/broadband/broadband_download_speed_data.nuts3.csv
  ds/data/processed/broadband/broadband_download_speed_data.nuts3.yaml
  ds/data/schema/types.yaml
  ds/notebooks/dev/14_ao_broadband_speed.ipynb
Labels: key

#227 Air pollution for NUTS 3 and LEPs
  .gitignore
  ds/.gitignore
  ds/Makefile
  ds/README.md
  ds/beis_indicators/defra/__init__.py
  ds/beis_indicators/defra/defra_processing.py
  ds/beis_indicators/defra/make_defra_indicators.py
  ds/conda_environment.yaml
  ds/data/processed/README.md
  ds/data/processed/defra/air_pollution_mean_pm10.csv
  ds/data/processed/defra/air_pollution_mean_pm10.lep.csv
  ds/data/processed/defra/air_pollution_mean_pm10.lep.yaml
  ds/data/processed/defra/air_pollution_mean_pm10.nuts2.csv
  ds/data/processed/defra/air_pollution_mean_pm10.nuts2.yaml
  ds/data/processed/defra/air_pollution_mean_pm10.nuts3.csv
  ds/data/processed/defra/air_pollution_mean_pm10.nuts3.yaml
  ds/notebooks/dev/0-jmg-ashe_sectoral.ipynb
  ds/notebooks/dev/0-jmg-university_nuts_codes.ipynb
  ds/notebooks/dev/03_jmg_hebci.ipynb
  ds/notebooks/dev/05-jmg-trademarks.ipynb
  ds/notebooks/dev/06_jmg_patents.ipynb
  ds/notebooks/dev/07b_gtr_revised.ipynb
  ds/notebooks/dev/08_jmg_bres_idbr.ipynb
  ds/notebooks/dev/09_ao_aps_data.ipynb
  ds/notebooks/dev/09_crunchbase.ipynb
  ds/notebooks/dev/0_rev_geocoder.ipynb
  ds/notebooks/dev/10_ao_eurostat.ipynb
  ds/notebooks/dev/11_gr_defra_air_pollution.ipynb
  ds/notebooks/dev/13_run_autonuts.ipynb
  ds/requirements.txt
  ui/.gitignore
Labels: data collection, refactor
